*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}







.nav-bar{
    background-color: #dbd4d4;
    grid-column: 1/13;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    
    
}

.logo{
    margin-right: auto;
    margin-left: 3%;
    width: 25%;
    

}


.buttons{
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    gap: 1.2rem;
    align-items: center;
    color: black;
    font-family: 'Poppins';
    

    
    
}

.links:hover{
    text-decoration: underline;
}

.external-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 20px;
    position: relative;
    
}




.fa-facebook {
    
    background:white ;
    color: #3B5998;
    border-radius: 75%;
    
  }

  .fa-instagram{
    color: palevioletred;
    
  }
  
  /* Add a hover effect if you want */
.fa-facebook:hover {
    opacity: 0.7;
  }
  

  
 









.carousel-1{
    background-color: grey;
    grid-column: 1/13;
    border: black solid 2px;
}



.contact-us{
    background-color: blue;
    grid-column: 1/13;
}

.footer{
    color: rgb(212, 204, 204);
    grid-column: 1/13;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    
}

.footer-information{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer h4{
    font-size: 30px;
    font-family: 'Hangyaboly';
}

.footer p{

    font-size: 20px;
}

.social-media-footers{
    margin-left: auto;
    margin-right: 1.25%;
}



#right{
    font-size: 1vw
}

.slides {
    position: relative;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    position: absolute;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    height: 100%;
    width: 100%;
    list-style: none;
}

.slide[data-active] {
    
    opacity: 1;
}

.slide{
    background-color: white;
    display: flex;
    
}

.two {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://assets.zyrosite.com/d95gpONX61tqnKJX/2023-07-02-mePnLJ8V11Hk3DRa.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: 1;
}

.two h2 {
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    font-family: 'Hangyaboly', sans-serif;
    font-size: 5vw;
    text-align: center;
    line-height: 100px;
    color: white;
}

.one h2{
    font-size: 4.6vw;
    font-family: 'Hangyaboly', sans-serif;

}

.one img{
   object-fit: cover;
   height: auto;
   width: 45%;
}

.one p{
    position: absolute;
    top: 85%;
    left: 5%;
    color: white;
    background-color: #B6A896;
    padding: 30px;
    font-size: 3vh;

}

.images img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    z-index: 2;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.monthly-newsletter{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 2%;
    text-align: center;
   
}

.monthly-newsletter button{
    height: 75px;
    width: 300px;

}

.chart{
    background-color: white;
    grid-column: 1/13;
    display: flex;
    margin-top: 4vh;
    padding: 5rem;
    gap: 50px;

    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
    place-items: center; */

    /* margin-top: 2rem;

    margin-bottom: 2rem; */
}
/* .chart h2{
    grid-column: 1/3;
    text-align: center;
    font-family: 'Poppins';
    font-size: 4vw;
    
} */

/* .chart div{
    height: 80%;
    width: 70%;
    align-self: center;
    border-radius: 3%;
    background-color: #AEBFD6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7.5%;
    gap: 20%;
    

} */

/* .chart p{
    font-size: 2.75vh;
    width: 100%;
    text-align: center;
}

.chart h3{
    font-size: 4vh;
    width: 100%;
    text-align: center;
} */

.chart-info{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    font-family: "Montserrat";

    
}



.chart-info h3{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: rgb(156, 141, 119);
    font-size: 32px;
    letter-spacing: 0.5px;
    padding: 10px;
    line-height: 50px;
}
.chart-info h3:after{
    content: "";
    position: absolute;
    background-color: #aebfd6;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}
.chart-info h3:hover{
    color: rgb(156, 141, 119);

}
.chart-info h3:nth-of-type(1):hover:after{
    width: 100%;
}
.chart-info h3:nth-of-type(2):hover:after{
    width: 60%;
}



.chart-buttons .volunteers:hover{
    text-decoration: underline;
}


.our-mission{
    margin-left: 10%;
}

.our-services{
    margin-right: 10%;
}


.georgia-map{
    margin-top: 
}

.chart img{
    height: auto;
    object-fit: cover;
    width: 50%;

}

.contact-us-info p {
    font-size: 2vw;
    font-family: 'Poppins';
    
}

.contact-us-info{
}


textarea{
    height: 150px;
    width: 250px;
}

.contact-us-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.contact-us h2{
    font-size: 6vw;
    text-align: center;
}

.contact-us p{
    text-align: center;
    font-size: 1.3rem;
}



@media (min-width: 1025px) and (max-width: 1249px) {
    .container-1{
        height: 1800px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1.75fr 6fr 10fr 3fr 2fr;
    }

}

/* laptop screen */
@media (min-width: 1200px) and (max-width: 1749px) {
    
    /* entire format */
    .container-1{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: .5fr 4fr 6fr 600px 2fr;
    }

    /* nav bar codes */
    .logo{
        width: 20%;
    }

    .links{
        text-decoration: none;
        font-size: 0.8rem;
        color: black;
        font-family: 'Poppins';
        
    }

    .external-links button{
        background-color: #00BF63; ; font-weight: 500; font-size: 1rem;
    }

    .fa-brands{
        font-size: 2rem;
        
    }

    .one h2{
        font-size: 4;
    }
    .one img{
        object-fit: cover;
        height: auto;
        width: 50%;
        object-fit: cover;

     }

     /* slide code */
     .slide.one{
        background-color: white;;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        padding: 85px 85px;
    }

    .slide.two{
        display: flex;
        padding: 40px;
        background-color: #f2f7f8;
        


    }

    .two img{
        height: auto;
        width: 75%;
        border-radius: 10%;
        object-fit: cover;


    }

     
    .three{
        display: flex;
        flex-direction: row;
        padding: 2%;
        justify-content: center;
        
    }

    .monthly-newsletter{
        width: 40%;
        margin-right: 10%;
    }

    .info-3{
        width: 38%;
        display: flex;
        flex-direction: column;
        
    }

    .three img{
        
        height: auto;
        object-fit: cover;
    }
    

    
   


    

    
    

    

    

    

    

   
    
}


/* large screeen */
@media (min-width: 1750px) {  

    .container-1{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 3fr 5fr 4fr 1fr;
    }
    

    .slide.one{
        justify-content: center;
        align-items: center;
        gap: 23%;
        padding: 200px;
    }

    .one p{
        position: absolute;
        top: 5vh;
    }

    .links{
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        font-family: 'Poppins';
        
    }
    
    /* Carousel CSS */
   
    

}